<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kalecia's QR Code</title>
    <link rel="stylesheet" href="./styles.css"/>
  </head>

  <body>
    <main class="container">
      <img src="images/image-qr-code.png" alt="a pic of a qr code"/>
      <h3>Improve your front-end coding skills by building projects</h3>
      <p>Scan the QR code to visit Front-End Mentor where you can take your skills to the next level!</p>
    </main>

    <footer>
     <div class="footer-row">
      <p>No Copyright- Made by Kalecia McNeal with help from Front-End Mentor</p>
      <a href="../index.html" class="back-btn">Back to the Components page</a>
     </div>
    </footer>
  </body>
</html>