@import url('https://fonts.googleapis.com/css2?&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

body{
  background: linear-gradient(to bottom, #1B0140, #011DAC, #6F00FF, #AB05F2, #EE05F2);
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 20px; 
  min-height: 100vh;
}

/*Header*/
header{
  text-align: center; 
  margin-bottom: 40px; 
}

h1{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 32px; 
  margin-bottom: 10px;
}

header p{
  font-size: 17px; 
  font-family: 'Source Sans 3', sans-serif;
}

/*Container styling*/
.container{
  display: grid; 
  gap: 20px;
  justify-content: center; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1200px; 
  margin: auto;
}

.card{
  background: rgba(0, 162, 255, 0.693); 
  padding: 25px; 
  border-radius: 15px; 
  text-decoration: none; 
  color: #ffffff; 
  box-shadow: 0 6px 18px rgba(0, 67, 103, 0.775); 
  transition: transform 0.25s ease, box-shadow 0.25s ease; 
}

.card h2{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 24px; 
  margin-bottom: 8px;
}

.card p{
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px; 
  color: #ffffff; 
  padding: 10px;
  margin-bottom: 8px;
}

.card:hover{
  transform: translateY(-6px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15); 
}

a{
  font-family: 'Montserrat Alternates', sans-serif;
  text-decoration: none;
  color: #ffffff;
}

.button{
  display: inline-block;
  background-color: #7f00b6;
  padding: 10px; 
  border-radius: 10px; 
  font-weight: bold;
  transition: 0.2s;
}

.button:hover{
  background-color: #f205cb;
}

.back-btn{
  display: inline-block;
  background-color: #7f00b6;
  max-width: 300px;
  padding: 10px; 
  border-radius: 10px; 
  font-weight: bold;
  transition: 0.2s;
}

.back-btn:hover{
  background-color: #f205cb;
}

@media (max-width: 500px) {
  h1 {
    font-size: 26px;
  }

  .card {
    padding: 20px;
  }

  .card h2 {
    font-size: 20px;
  }
}