<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kalecia's Article Card</title>
    <link rel="stylesheet" href="./styles.css"/>
  </head>

  <body>
    <main class="container">
      <div class="image">
        <img src="images/space-11099_1280.jpg" alt="a picture of the universe"/>
        <p>Article</p>
      </div>

      <div class="info">
        <h2>All About Our Universe</h2>
        <p>Our universe is very vast with numerous amounts of stars, planets and galaxies. It has been around for thousands and thousands of years. Learn the history of how our galaxy came to be.</p>
      </div>

      <div class="author">
        <img src="images/redhead-librarian.jpg" alt="red headed redhead-librarian"/>
        <p>Adrianna Monroe</p>
      </div>
    </main>

  </body>

  <footer class="footer-row">
    <p>No Copyright-Made by Kalecia McNeal</p>
    <p>Image by WikiImages from Pixabay</p>
    <a href="../index.html" class="back-btn">Back to the Cards page</a>
  </footer>
</html>