/*Imported Font*/
@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&display=swap');

*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

html{
  background-color: #000054;
}

body{
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container{
  width: 500px; 
  background-color: #006aff;
  border-radius: 30px;
  padding: 50px;
  margin: 100px;
  font-family: 'Lilex', monospace;
}

div{
  padding: 15px;
}

.image img{
  height: 340px;
  width: 380px;
  margin-top: -15px;
  border-radius: 20px;
}

.image p{
  display: block;
  max-width: 100px;
  margin-top: 20px;
  padding: 10px;
  background-color: #8bbbff;
  text-align: center;
  border-radius: 10px;
}

h2{
  font-size: 25px;
}

p{
  font-size: 16px;
}

.author{
  display: flex;
  align-items: center;
}

.author img{
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
}

.footer-row {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px; 
  height: 100px;
  margin-bottom: 200px;
  margin-top: -40px;
  padding: 20px;
  font-family: 'Lilex', monospace;
  color: white;
}

.footer-row p{
  padding-bottom: 30px;
}

.back-btn{
  background-color: #7f00b6;
  max-width: 300px;
  padding: 10px; 
  border-radius: 10px; 
  font-weight: bold;
  transition: 0.2s;
  text-decoration: none;
  color: white
}

.back-btn:hover{
  background-color: #f205cb;
}