<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kalecia's Layouts Folder</title>
    <link rel="stylesheet" href="./styles.css"/> 
  </head>

  <body>
    <header>
      <h1>My Layouts Folder</h1>
      <p>Welcome to my Layouts folder where you can find all of my live version of my layouts I make. To find a project, just click on the associated folder to find the project!</p>
    </header>

    <main class="container">

      <section class="card">
        <h2>Cards</h2>
        <p>All cards in the Card folder are made to display some information to users on a webpage. These cards can be simple but effective.</p>
        <a href="./Cards/index.html" class="button">View My Cards</a>
      </section>

      <section class="card">
        <h2>Components</h2>
        <p>Each component in the Component folder is made to lead users complete an action or preview specific content.</p>
        <a href="./Components/index.html" class="button">View My Components</a>
      </section>

      <section class="card">
        <h2>Displays</h2>
        <p>The Displays folder contains various projects that can be used to change the display or theme of the webpage through the use of sliders and toggles.</p>
        <a href="./Displays/index.html" class="button">View My Displays</a>
      </section>

      <a href="../index.html" class="button">Back to Main</a>
    </main>
  </body>
</html>