<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kalecia's Displays Folder</title>
    <link rel="stylesheet" href="../styles.css"/> 
  </head>

  <body>
    <header>
      <h1>My Displays Folder</h1>
      <p>Welcome to my Displays folder where you can find all of my live version of cards I make. To find a project, just click on the associated folder to find the project!</p>
    </header>

    <main class="container">

      <section class="card">
        <h2>Coming Soon</h2>
        <p>My first project will be coming soon!</p>
        <a href="./Calculators/index.html" class="button">View My First Project</a>
      </section>

      <a href="../index.html" class="button">Back to the main page</a>
    </main>
  </body>
</html>